<%- include('partials/header'); %>

<div class="container">
  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
   <div class="card" style="width: 18rem;margin:10px">
    <div class="card-body">
      <h4 class="card-title">Learning Words</h4>
      <p class="card-text">A set of words you have learnt!!</p>
      <a href="#" class="card-link"></a>
    </div>
   </div>
   <div class="card" style="width: 18rem;margin:10px">
    <div class="card-body">
      <h4 class="card-title">Reviewed Words</h4>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">A set of words that you are on your way to master!!!</p>
      <a href="#" class="card-link"></a>
    </div>
   </div>
   <div class="card" style="width: 18rem;margin:10px">
    <div class="card-body">
      <h4 class="card-title">Mastered Words</h4>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">A set of words that you have mastered!!!</p>
    </div>
   </div>
   <div class="card" style="width: 18rem;margin:10px">
    <div class="card-body">
      <h4 class="card-title">Make Your Own Set Of Words</h4>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">Add a words you have learnt or are learning!!!</p>
      <a href="#" class="card-link"></a>
    </div>
   </div> 
  </div>
</div>


<%- include('partials/footer'); %>
