<%- include('partials/header'); %>
  <header class="jumbotron">
      <div class="container">
          <h1>Pick Your Favourite Genre To Get Started</h1>
      </div>
  </header>
  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% genre.forEach(function(genre){ %>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img class="img-thumbnail img-fluid" src="<%= genre.img %>" alt="Camping pic">
                <!-- You gotta remove the bottom border -->
                <div class="caption">
                    <h4><%= genre.name %></h4>
                </div>
            </div>
        </div>
    <% }); %>
</div>
<%- include('partials/footer'); %>
