<%- include('partials/header'); %>


<div class="container">
    <h1>MOVIEPEDIA</h1>
    <hr>
    <p>Don't waste your time watching movies you would rather not. Tell us your type and we will help you choose!!</p>
    <a type="button" class="btn btn-dark btn-large" href="/home">SIGN IN</a>
    <a type="button" class="btn btn-dark btn-large" href="/home">SIGN UP</a>
<div>

    
<%- include('partials/footer'); %>