<%- include('partials/header'); %>


<div  style="padding:150px 150px">
    <h1>MOVIEPEDIA</h1>
    <hr>
    <p></p>
    <a href="/search" class="btn btn-dark">LETS GET STARTED</a>
<div>

    
<%- include('partials/footer'); %>