<%- include('partials/header'); %>


<div class="container">
    <h1>MOVIEPEDIA</h1>
    <hr>
    <p>Don't waste your time watching movies you would rather not. Tell us your type and we will help you choose!!</p>
<div>

    
<%- include('partials/footer'); %>